<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Compose new post</title>
</head>
<body>
<%- include("header") %>
<div class="container-fluid m-20">
    <h1>Compose</h1>
<form method="post" action="/compose">
    <div class="form-group">
      <label for="title"><strong>Post's Title</strong></label>
      <input type="text" class="form-control border-warning" id="title" name="title" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="textBody"><strong>Post's Text</strong></label>
        <textarea class="form-control border-warning" id="textBody" name="text" placeholder="Enter body" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-warning col-xxl-2 col-xl-6">Submit</button>
  </form>
</div>


<%- include("footer") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>