<div class="container-xxl fixed-bottom bg-light rounded">
<footer class="footer d-flex flex-wrap justify-content-center align-items-center">
    <p class="text-body-secondary text-center">© 2023 Yuvi On Makatnar, Arminc</p>
</footer>
</div>
